<div class="fact"><h2><%= @fact.name %></h2><h5>Refresh the page to learn more of <br/>what <strong>many people</strong> are really saying!</h5></div>

<script>

$(function(){
        $(".fact h2").typed({
            strings: ["<%= @fact.name %>"],
            typeSpeed: 72
        });
    });
</script>
