<div class="fact"><h2><%=  %></h2><h5>Refresh the page to learn again!</h5></div>

<script>

$(function(){
        $(".fact h2").typed({
            strings: ["<%=  %>"],
            typeSpeed: 140
        });
    });
</script>
